*{{.Repository.Name}}*

*How-To*: _Got reminded? Just normally review the given pull request._

{{range .Reminders}}
*{{.PR.Title}}*: {{.PR.HTMLURL}}
{{if .Discussions}} {{.Discussions}} 💬 {{end}} {{range $emoji, $count := .Emojis}} {{$count}} :{{$emoji}}: {{end}} {{range .Missing}}&lt;{{.}}&gt; {{else}}You got all reviews, &lt;{{.PR.Owner}}&gt;.{{end}}
{{end}}
